{{ if type == 'fullscreen_image' }}
  {{ partial:components/media/image/fullscreen }}
{{ /if }}

{{ if type == 'image' }}
  <div class="max-w-site mx-auto mb-68">
    <div class="grid grid-cols-8 md:grid-cols-16 gap-x-16 xl:px-0">
      <div class="col-span-full xl:col-span-12 xl:col-start-3">
        {{ partial:components/media/image/image class="w-full h-full object-cover aspect-[16/10] lg:aspect-[16/9]" }}
      </div>
    </div>
  </div>
{{ /if }}

{{ if type == 'page_section' }}
  {{ partial:layout/inner class="first-of-type:pt-16 first-of-type:md:pt-32 first-of-type:lg:pt-48 first-of-type:xl:pt-72 lg:ml-82 xl:ml-auto" }}
    {{ if section_title }}
      <div class="col-span-8 md:col-span-12 lg:col-span-3 xl:col-start-3">
        <h1 class="text-base lg:text-base font-figtree-extrabold font-extrabold lg:mb-0 uppercase tracking-wide">
          {{ title }}
        </h1>
      </div>
    {{ /if }}
    <div class="col-span-8 md:col-span-16 lg:col-span-12 xl:col-span-9 xl:col-start-6 md:grid md:grid-cols-subgrid md:gap-x-16">
      {{ elements }}
        {{ if type == 'team_member' }}
          {{ partial:components/cards/team_member }}
        {{ /if }}

        {{ if type == 'editor' }}
          {{ partial:components/cards/text }}
        {{ /if }}

        {{ if type == 'entity' }}
          {{ partial:components/cards/entity }}
        {{ /if }}

      {{ /elements }}
    </div>
  {{ /partial:layout/inner }}
{{ /if }}