<footer class="hidden lg:block absolute bottom-16 right-16 z-40 text-white">
  <nav>
    <ul class="flex gap-x-16">
      {{ nav:privacy }}
        {{ partial:menu/main/item class="font-figtree-regular font-normal text-sm {{ !is_homepage ? 'text-black' : 'text-white hover:text-black' }}" }}
      {{ /nav:privacy }}
    </ul>
  </nav>
</footer>
{{ vite src="resources/js/app.js" }}
<script id="usercentrics-cmp" src="https://app.usercentrics.eu/browser-ui/latest/loader.js" data-settings-id="nPTAY8LTtBrS9k" async></script>