<div class="flex w-128 space-x-16 {{ class }}">
  {{ if social_media_accounts:linkedin }}
  <a 
    href="{{ social_media_accounts:linkedin }}" 
    target="_blank" 
    title="AAS Technics auf LinkedIn">
    {{ partial:icons/linkedin class="w-20 h-auto" }}
  </a>
{{ /if }}
  {{ if social_media_accounts:facebook }}
    <a 
      href="{{ social_media_accounts:facebook }}" 
      target="_blank" 
      title="AAS Technics auf Facebook">
      {{ partial:icons/facebook class="w-20 h-auto" }}
    </a>
  {{ /if }}
  {{ if social_media_accounts:instagram }}
    <a 
      href="{{ social_media_accounts:instagram }}" 
      target="_blank" 
      title="AAS Technics auf Instagram">
      {{ partial:icons/instagram class="w-20 h-auto" }}
    </a>
  {{ /if }}
  {{ if social_media_accounts:youtube }}
    <a 
      href="{{ social_media_accounts:youtube }}" 
      target="_blank" 
      title="AAS Technics auf Youtube">
      {{ partial:icons/youtube class="w-20 h-auto" }}
    </a>
  {{ /if }}
</div> 