@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "typo/webfonts.css";
@import "components/headings.css";
@import "utils.css";

* {
  font-variant-ligatures: none;
}

html {
  font-feature-settings: 'kern'; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main p:not(:last-child) {
  @apply mb-24
}

main a {
  @apply underline underline-offset-3 hover:no-underline
}

main p + ul {
  @apply mt-24
}

main ul {
  @apply !list-['–_']
}

main ul:not(:last-child) {
  @apply mb-24
}

main ul p {
  @apply mb-0 inline;
}

main ul li {
  @apply pl-8 ml-16 list-item mb-8;
}

main ul {
  @apply list-disc m-0
}

strong {
  @apply font-figtree-extrabold font-extrabold
}