@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "typo/webfonts.css";
@import "components/headings.css";
@import "utils.css";

* {
  font-variant-ligatures: none;
}

html {
  font-feature-settings: 'kern'; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
}

main p:not(:last-of-type) {
  @apply mb-24
}


main a {
  @apply underline underline-offset-3 hover:no-underline
}

main p + ul {
  @apply mt-24
}

main ul {
  @apply list-disc m-0
}

main ul:not(:last-of-type) {
  @apply mb-24
}

main li p {
  @apply inline
}

main li {
  @apply pl-14 -indent-17 list-none;
}

main li:before {
  content: "– ";
  margin-right: 5px;
}

strong {
  @apply font-figtree-regular font-medium
}
