<figure class="w-full">
  <picture>
    <source media="(min-width: 1280px)" srcset="{{ glide:image preset='2xl-visual-webp' }}" type="image/webp">
    <source media="(min-width: 1024px)" srcset="{{ glide:image preset='xl-visual-webp' }}" type="image/webp">
    <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg-visual-webp' }}" type="image/webp">
    <source srcset="{{ glide:image preset='md-visual-webp' }}" type="image/webp">
    <source media="(min-width: 1280px)" srcset="{{ glide:image preset='2xl-visual' }}" type="image/jpeg">
    <source media="(min-width: 1024px)" srcset="{{ glide:image preset='xl-visual' }}" type="image/jpeg">
    <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg-visual' }}" type="image/jpeg">
    <img 
      src="{{ glide:image preset='md-visual' }}" 
      alt="{{ image:alt }}" 
      title="{{ image:alt }}" 
      height="{{ image:height }}" 
      width="{{ image:width }}"
      class="block w-full h-full object-cover aspect-[16/10] sm:aspect-[16/8] md:aspect-[16/7] lg:aspect-[16/6] {{ class ?? '' }}"
      loading="lazy">
  </picture>
</figure>